/* src/components/Login.css */
body, html {
    height: 100%;
    margin: 0;
  }
  
  .login-background {
    background-image: url('../assets/cultivos-cosecha.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form-container {
    background: rgba(255, 255, 255, 0.8);  
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  